/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------- TYPOGRAPHY -----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

@font-face {
  font-family: "Montserrat";
  src: url("./Assets/fonts/montserrat-black-webfont.woff2") format("woff2"),
    url("./Assets/fonts/montserrat-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: black;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Assets/fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("./Assets/fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Assets/fonts/montserrat-medium-webfont.woff2") format("woff2"),
    url("./Assets/fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Assets/fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("./Assets/fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: regular;
}

html {
  font-size: 1em;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 28px;
  color: #000000;
  text-align: center;
  line-height: 36px;
  margin-bottom: 40px;
  margin-top: 40px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 42px;
  }
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 32px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  text-align: center;
  line-height: 28px;
}

h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 26px;
}

h5 {
  font-family: "Montserrat";
  font-weight: 700;
  text-align: left;
  font-size: 12px;
  color: #000000;
  letter-spacing: 1.4px;
  line-height: 18px;
}

h6 {
  font-family: "Montserrat";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  color: #000000;
  letter-spacing: 1.2px;
  line-height: 18px;
}

p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 26px;
  margin-bottom: 40px;
}

button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  line-height: 26px;
  text-align: center;
  width: 80%;
  height: 58px;
  border-radius: 6.25rem;
  background-color: #fb515e;
  border: none;
  display: inline-block;
  padding: 0px;
  cursor: pointer;
  outline: none;
  margin-bottom: 40px;
}

.whiteButton {
  background-color: #ffffff;
  color: #fb515e;
}

@media (min-width: 768px) {
  button {
    width: 60%;
    height: 48px;
  }
}

a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-align: right;
  line-height: 26px;
  text-decoration: none;
  cursor: pointer;
}

a:active {
  color: #0077ff;
  text-decoration: underline;
}

@media (min-width: 768px) {
  a {
    font-size: 14px;
  }
}

.footera {
  font-weight: 400;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #f1f1f1;
  border-radius: 50px;

  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #909090;
  letter-spacing: 0.3px;
  text-align: left;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Margins ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.defaultMarigns {
  margin: 7% 5%;
}

@media (min-width: 1124px) {
  .defaultMarigns {
    margin: 7% 10%;
  }
}

.buttonMargins {
  margin-top: 10%;
}

@media (min-width: 560px) {
  .buttonMargins {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

@media (min-width: 768px) {
  .buttonMargins {
    margin-top: 17px;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .buttonMargins {
    margin-top: 40px;
  }
}

/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Animations ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.buttonHoverAnim {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.buttonHoverAnim:hover {
  border-radius: 0px;
}

/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Landing Page ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.LandingPage {
  overflow: hidden;
}

.centerText {
  text-align: center;
}

.leftText {
  text-align: left;
}

.whiteText {
  color: white;
}

.blackText {
  color: black;
}

.upperText {
  text-transform: uppercase;
}

.normalText {
  text-transform: capitalize;
}

.underline {
  text-decoration: underline;
}

/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Section 1 ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.LPsection1 {
  margin: 0px;
  padding: 0px;
}

.LPsection1 {
  display: grid;
  grid-template-areas:
    "header"
    "illustration1"
    "title"
    "button"
    "body";
}

#section1Button {
  grid-area: button;
  align-self: center;
  justify-self: center;
}
#section1Title {
  grid-area: title;
  margin-top: 0px;
}
#section1Body {
  grid-area: body;
  text-align: center;
}
#section1SubTitle {
  grid-area: subtitle;
  display: none;
}

#illustration1 {
  grid-area: illustration1;
  width: 100%;
  margin-top: 65px;
}

#LPSection1HighlightColor {
  display: none;
}

#headerRedHighlight {
  display: none;
}

.Header {
  display: grid;
  grid-template-areas:
    "logo burger"
    "links links";
  grid-area: header;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 4%;
  background-color: #fb515e;
  padding-bottom: 4%;
}

.headerLinks {
  display: grid;
  padding: 5% 0%;
  color: white;
  padding-bottom: 0.5%;
}

.headerLinkContainer {
  grid-area: links;
  padding: 0% 5%;
}

.headerLinkGroup {
  display: none;
  align-items: center;
  justify-items: center;
  background-color: #fb515e;
  padding-top: 5%;
}

.headerLinkLine {
  width: 60%;
  border: 0;
  height: 1px;
  background: white;
}
#HeaderLogo {
  grid-area: logo;
  width: 40%;
  align-self: center;
  justify-self: left;
  padding-left: 10%;
}

#HeaderHamburger {
  grid-area: burger;
  align-self: center;
  justify-self: center;
}

@media (min-width: 768px) {
  .LPsection1 {
    grid-template-columns: 25% 35% 40%;
    grid-template-areas:
      "header header header"
      "illustration1 illustration1 subtitle"
      "illustration1 illustration1 title"
      "illustration1 illustration1 body"
      "illustration1 illustration1 button";
  }
  #section1Title {
    padding-top: 35%;
  }

  #LPSection1HighlightColor {
    background-color: #fb515e;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    padding: 0;
    margin: 0;
    z-index: 0;
  }

  #illustration1 {
    width: 70%;
    justify-self: end;
    align-self: center;
    padding-right: 10%;
    z-index: 1;
  }

  #section1Title {
    text-align: left;
  }

  #section1Body {
    text-align: left;
    padding-right: 10%;
  }

  #section1Button {
    justify-self: left;
  }

  #HeaderHamburger {
    display: none;
  }

  #headerLink1 {
    grid-area: link1;
  }

  #headerLink2 {
    grid-area: link2;
  }

  #headerLink3 {
    grid-area: link3;
  }

  #headerLink4 {
    grid-area: link4;
  }

  #headerLink5 {
    grid-area: link5;
  }

  #headerLink6 {
    grid-area: link6;
  }

  #HeaderLogo {
    width: 35%;
    align-self: center;
    justify-self: center;
  }

  .headerLinkGroup {
    display: grid;
    grid-template-columns: repeat(1fr, 7);
    grid-template-areas: "link1 link1 link2 link3 link4 link5 link6";
    background: white;
    align-self: center;
    justify-self: center;
    padding-bottom: 5%;
    width: 100%;
  }

  .headerLinkLine {
    display: none;
  }

  .headerLinks {
    color: black;
    margin: 0% 5%;
    padding: 0%;
  }

  #headerRedHighlight {
    display: grid;
    grid-area: colour;

    background-color: #fb515e;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .Header {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "logo links";
    grid-area: header;
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    padding: 0%;
  }
}

/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Section 2 ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

#illustration2 {
  width: 100%;
  grid-area: illustration2;
}

#section2Body {
  text-align: center;
  grid-area: s2body;
  text-align: left;
}

#section2Title {
  margin-top: 0px;
  grid-area: s2title;
  text-align: left;
}

@media (min-width: 768px) {
  .LPsection2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "illustration2 s2title"
      "illustration2 s2body";
  }

  #illustration2 {
    padding-right: 10%;
    place-self: center;
    width: 90%;
  }

  #section2Body {
    text-align: left;
  }

  #section2Title {
    text-align: left;
  }
}

/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Section 3 ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

#illustration3 {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#section3Title {
  margin-top: 40px;
}

@media (min-width: 768px) {
  #illustration3 {
    grid-area: illustration3;
  }

  #section3Title {
    grid-area: section3Title;
    text-align: left;
    padding-right: 20%;
  }

  #s3Blurb1 {
    grid-area: s3Blurb1;
  }

  #s3Blurb2 {
    grid-area: s3Blurb2;
  }

  .s3Blurb {
    display: grid;
  }

  #section3SubTitle1 {
    text-align: left;
    margin-bottom: 2%;
  }

  #section3Body1 {
    text-align: left;
    padding-right: 10%;
  }

  #section3SubTitle2 {
    text-align: left;
    margin-bottom: 2%;
  }

  #section3Body2 {
    text-align: left;
    padding-right: 10%;
  }

  .LPsection3 {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-areas:
      "section3Title s3Blurb1 s3Blurb2"
      "illustration3 illustration3 illustration3";
  }
}
/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Section 4 ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.LPsection4 {
  display: grid;
}

#illustration4 {
  width: 100%;
}

#section4Button {
  align-self: center;
  justify-self: center;
}

.s4Blurb {
  display: grid;
  padding: 0% 10%;
}

@media (min-width: 768px) {
  #illustration4 {
    grid-area: illustration4;
  }

  #section4Title {
    grid-area: section4Title;
    text-align: left;
    padding-right: 5%;
  }

  #section4Body1 {
    grid-area: section4Body1;
    text-align: left;
    padding-right: 5%;
  }

  #section4Button {
    grid-area: section4Button;
    align-self: start;
    justify-self: start;
  }

  #s4Blurb1 {
    grid-area: s4Blurb1;
  }

  #s4Blurb2 {
    grid-area: s4Blurb2;
  }

  #s4Blurb3 {
    grid-area: s4Blurb3;
  }

  #section4SubTitle1 {
    text-align: left;
  }

  #section4Body2 {
    text-align: left;
    margin-bottom: 3%;
  }

  #section4SubTitle2 {
    text-align: left;
  }

  #section4Body3 {
    text-align: left;
    margin-bottom: 3%;
  }

  .s4Blurb {
    padding-top: 10%;
    padding-bottom: 4%;
  }

  .LPsection4 {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "section4Title illustration4"
      "section4Body1 illustration4"
      "section4Button illustration4"
      "s4Blurb1 s4Blurb2"
      "s4Blurb3 s4Blurb3";
  }

  #s4Blurb3 {
    grid-area: s4Blurb3;
    justify-self: center;
    align-self: center;
    padding: 0% 30%;
  }
}

@media (min-width: 1024px) {
  .LPsection4 {
    grid-template-columns: 26% 33.333% 40.666%;
    grid-template-areas:
      "section4Title illustration4 s4Blurb1"
      "section4Body1 illustration4 s4Blurb2"
      "section4Button illustration4 s4Blurb3";
  }
}
/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Section 5 ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Section 6 ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Section 7 ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.section7Feature {
  margin-top: 20%;
}

/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Section 8 ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Section 9 ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

#LPsection9Background {
  background-color: #fb515e;
  padding: 7% 0%;
}

/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Section 10 ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

#section10getInputFormGroup {
  display: grid;
}
.LPsection10inputTextElement {
  margin-bottom: 0%;
  padding-left: 5%;
}

#section10inputButton {
  align-self: center;
  justify-self: center;
}

#input4Element {
  height: 150px;

  border-radius: 25px;
}

/* 
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
----------------------------------- Section 11 ----------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/
.LPsection11 {
  margin: 0;
  padding: 0;
}

#LPsection11MailTo {
  background-color: #fb515e;
  padding: 7% 0%;
  display: grid;
}

#section11Button {
  align-self: center;
  justify-self: center;
  margin-bottom: 15px;
}

#Footer {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 7% 0%;
}

.footerpadding {
  padding: 5% 0%;
}

#FooterLogo {
  width: 35%;
}

#copyright {
  margin-bottom: 0px;
}
